[Unit]
Description=Runs a server providing pentryansvar data for the school Stockholm Science & Innovation School

[Service]
ExecStart=uvicorn /srv/SSISPentryAnsvarServer/main:app
