[Unit]
Description=Runs a server providing pentryansvar data for the school Stockholm Science & Innovation School

[Service]
ExecStart=bash /srv/SSISPentryAnsvarServer/scripts/start_pentryansvar_server.sh

[Install]
WantedBy=multi-user.target
